label
{
    padding-right: 5px;
}
.nopadding
{
    padding: 0px;
}
.top3{
    padding-top: 3px;
}
.top5{
    padding-top: 5px;
}
.top7{
    padding-top: 7px;
}
.top10{
    padding-top: 20px;
}
.top20{
    padding-top: 20px;
}
.top30{
    padding-top: 30px;
}
.top40{
    padding-top: 40px;
}
.top50{
    padding-top: 50px;
}
.top60{
    padding-top: 60px;
}


.buttom10{
    padding-bottom: 20px;
}
.buttom5{
    padding-bottom: 5px;
}
.buttom60{
    padding-bottom: 60px;
}
.centerAlign{
    text-align: center;
}
.centerAlign th{
    text-align: center;
}
.rightAlign
{
    text-align: right;
}
.leftAlign
{
    text-align: left;
}


.margin5
{
    margin-top: 5px;
}
.margintop5
{
    margin: 5px;
}
.alignCenter
{
    text-align: center;
}
.handcursor
{
    cursor: hand;
}.noneCorsor
{
    cursor: none;
}
 .redColor
 {
     color: red;
 }
 .ltrDir
{
    direction: ltr;
}
/*Table CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #53edea;
    width: 500px;
    margin: 50px auto;
    border-radius: .25rem;
}

thead tr:first-child {
    background: #53edea;
    color: #fff;
    border: none;
}

th:first-child,
td:first-child {
    padding: 0 10px 0 20px;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: right;
    padding-right: 10px;
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc3bd7;
}
.DivBorder
{
    margin: 8px;
    padding: 10px;
    text-align: right;
    border: solid black 1px;
    border-radius: 10px;
}
table{
    text-align: center ;
    margin:5px;
    font-size: small
}
.tRep tbody > tr:first-child {
    background: #53edea;
}

/*Upload CSS Btn*/
 label.myLabel input[type="file"] {
     position: fixed;
     top: -1000px;
 }

/***** Example custom styling *****/
.myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
    cursor: hand;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}
.imagePreview {
    width: 280px;
    height: 280px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: none;
    border-radius: 18px;
}
.imagePreviewOptionEdit {
    width: 280px;
    height: 280px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 18px;
}
#TblOptiomListimagePreview {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 18px;
}
/*==================================Big image========================================*/
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 18px;

}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: hand;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 350px;
    color: yellow;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*==================================Show Q and OP image in porseshgar side========================================*/
.ShowQandOPimageinporseshgarside {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 18px;

}

.ShowQandOPimageinporseshgarside:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: hand;
}
.SmallQuestionMoreExplanation
{
    color: yellow;
}
.padding20
{
    padding: 20px;
}
.padding5
{
    padding: 5px;
}

.noLeftMargin
{
    margin-left: 0px;
}
.noRightMargin
{
    margin-right: 0px;
}
.noTopMargin
{
    margin-top: 0px;
}
.noLeftPadding
{
   padding-left: 0px;
}
.noRightPadding
{
    padding-right: 0px;
}
.topPadding25
{
    padding-top: 23px;
}
.W100100
{
    max-height: 100px;
    max-width: 100px;
}
select{
    padding: 0px;
}
.borderInsect
{
    border: dashed;
    border-color: rgba(218, 221, 221, 0.89);
    border-radius: 5px;
    padding: 3px;
}

.tablespectral
{
    table-layout: fixed;
}
.tablespectral td
{
    background: #f5f4e1;
}
/*BLINK*/
.blink{
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
}