/*@import url(font-awesome.min.css);*/
/*@import url("../fonts/css.css");*/

	body {
		background: #f5f5f5;
	    direction: rtl;
	}

	body, input, select, textarea {
		color: #777;
		font-family:'yekan',"B Yekan",'Tahoma',"Source Sans Pro", sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
		letter-spacing: -0.015em;
	}
