/* vietnamese */
@font-face {
  font-family: "Yekan";
  src: url(Yekan.eot);
  src: url(Yekan.eot?#iefix) format("embedded-opentype"), url(Yekan.woff)
  format("woff"), url(Yekan.ttf) format("truetype"), url(Yekan.svg#BYekan) format("svg");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "Nazanin";
  src: url(Nazanin.eot);
  src: url(Nazanin.eot?#iefix) format("embedded-opentype"), url(Nazanin.woff)
  format("woff"), url(Nazanin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "TitrBold";
  src: url(TitrBold.eot);
  src: url(TitrBold.eot?#iefix) format("embedded-opentype"), url(TitrBold.woff)
  format("woff"), url(TitrBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal
}